/** @format */

$dark: #252525;
$light: #fff;
$lightDark: rgba(
    $color: $light,
    $alpha: 0.1,
);
$primary: #007bfb;
$secondary: orange;
$danger: #f24442;

$borderWidth: 2px;

$shortTransition: 0.1s;
$longTransition: 0.3s;
