/** @format */

@import '@app/theme/index.scss';

.w3m-modal {
    .w3m-container {
        width: 360px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 32px;
        border-bottom-left-radius: 32px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
    }

    .wallet-content-container {
        width: 80px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        transition: $shortTransition;

        &:hover {
            background-color: rgba($color: $light, $alpha: 0.1);
        }

        &,
        img {
            border-radius: 16px;
        }

        img {
            border: 1px solid rgb(39, 42, 42);
            background-color: rgba($color: $light, $alpha: 0.1);
        }

        p {
            margin: 0;
            font-size: 12px;
            color: $light;
        }
    }

    &-backcard {
        padding: 8px 8px 32px 8px;
        background: $primary;

        &-toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-actions {
                display: flex;
                gap: 16px;

                button {
                    width: 28px;
                    height: 28px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $dark;
                    border-radius: 50%;
                }
            }
        }
    }

    .w3m-card {
        margin: -24px 0 0 0;
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        background-color: $dark;

        svg {
            fill: $primary;
        }

        &.allWallets {
            .w3m-card-header {
                button {
                    padding: 16px;
                    position: absolute;
                    top: calc(50% - 30px);
                    left: 0;

                    svg {
                        fill: $primary;

                        &:hover {
                            fill: rgba($color: $primary, $alpha: 0.8);
                        }
                    }
                }
            }

            .w3m-card-content {
                display: flex;
                flex-wrap: wrap;
            }
        }

        &-header,
        &-content,
        &-footer {
            padding: 20px;
        }

        &-header {
            position: relative;
            text-align: center;
            border-bottom: 1px solid rgb(39, 42, 42);

            h2 {
                margin: 0;
                color: $light;
                font-size: 16px;
            }

            input {
                width: 70%;
                margin: 0 0 0 16px;
                border: 2px solid rgb(39, 42, 42);
                border-radius: 8px;
                font-style: normal;
                font-family: -apple-system, system-ui, BlinkMacSystemFont,
                    'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: -0.03em;
                padding: 0px 10px 0px 34px;
                color: $light;

                background-color: transparent;
                line-height: 28px !important;
                box-sizing: border-box;
            }

            &-button {
                padding: 16px;
                position: absolute;
                top: calc(50% - 12px - 16px);
                right: 0;

                svg {
                    transition: $shortTransition;

                    &:hover {
                        fill: rgba($color: $primary, $alpha: 0.8);
                    }
                }
            }
        }

        &-content,
        &-footer {
            &-title {
                display: flex;
                justify-content: space-between;

                div {
                    display: flex;

                    &:first-of-type {
                        p {
                            color: $primary;
                        }
                    }
                }

                p {
                    margin: 0 0 0 8px;
                    font-size: 14px;
                    font-weight: 600;

                    color: rgb(228, 231, 231);
                }
            }
        }

        &-content {
            max-height: 600px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            &-title {
                margin: 0 0 20px 0;
            }

            &-qr {
                position: relative;

                svg {
                    &#logo {
                        width: 96px;
                        height: 96px;
                        position: absolute;
                        top: calc(50% - 48px);
                        left: calc(50% - 48px);
                    }
                }
            }
        }

        &-footer {
            border-top: 1px solid rgb(39, 42, 42);

            &-content {
                margin: 8px 0 0 0;
                display: flex;

                button {
                    span {
                        font-size: 10px;
                        color: rgb(173, 173, 173);
                        letter-spacing: 1px;
                    }
                }

                .viewAll {
                    div {
                        padding: 4px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 4px;
                        border: 1px solid rgb(39, 42, 42);
                        border-radius: 16px;
                        background-color: rgba($color: $light, $alpha: 0.1);

                        img {
                            width: 42%;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}
